<!DOCTYPE html>
<html>
<head>
  <title>Physio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner">
      <div class="container-fluid"> 
	  <div class="navbar-header">
		<a class="navbar-brand" <%= link_to "Physios Ireland", root_path%></a>
      </div>	  
       
			<ul class ="nav navbar-nav">
				<li class="active"><%= link_to "Home", root_path%></li>
				<li class="active"><%= link_to "Physios", physios_path%></li>
				<li class="active"><%= link_to "Users", users_path%></li>
				<li class="active"><%= link_to "Appointments", orders_path%></li>
				<li class="active"><%= link_to "Services", services_path%></li>
				<%= render '/physios/search' %>
				
			</ul>

			<ul class="nav navbar-nav navbar-right ">
    
				<% if !signed_in?  %>
					<li class="active"><%= link_to "Sign In", login_path %></li>
				<% else %>
					<li class="active">Signed in as <%= @current_user.name %></li>
					
					<li class="active"><%= link_to "Sign Out", logout_path %>
				<% end %>

			</ul>
		</nav>
      </div>
    </div>
  </header>
	
  <% flash.each do |key, value| %>
	<%= content_tag(:p, value, :class => "flash #{key}") %>
  <% end %>



	<div id="main-container" class="container">
		<%= yield %>
	</div>
	
	

</body>
</html>